/* 响应式辅助类 */
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    .text-xs-center {
        text-align: center;
    }

    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }
}

/* 打印样式 */
@media print {
    .no-print {
        display: none !important;
    }

    .panel {
        border: 1px solid #000;
        box-shadow: none;
    }
}